.eloro {
  top: 20px;
  left: 112px;
  font-size: var(--font-size-16xl);
  font-weight: 700;
  width: 141px;
  height: 41px;
}
.dashboard1,
.eloro,
.one-step-towards {
  margin: 0;
  position: absolute;
  display: inline-block;
  font-family: inherit;
}
.dashboard1 {
  top: 133px;
  left: 619px;
  font-size: var(--font-size-16xl);
  font-weight: 700;
  color: var(--color-seagreen);
  width: 298px;
  height: 41px;
}
.one-step-towards {
  top: 73.76px;
  left: 1136px;
  font-size: inherit;
  font-style: italic;
  font-weight: 500;
  width: 286px;
  height: 53.52px;
}
.image-934-icon {
  position: absolute;
  top: 76.61px;
  left: 1090px;
  width: 23px;
  height: 25.19px;
  object-fit: cover;
}
.image-935-icon,
.image-936-icon,
.image-937-icon {
  position: absolute;
  top: 77px;
  left: 1015px;
  width: 26px;
  height: 25px;
  object-fit: cover;
}
.image-935-icon,
.image-937-icon {
  top: 78.71px;
  left: 1053px;
  width: 25px;
  height: 20.99px;
}
.image-935-icon {
  left: 981px;
  width: 20px;
}
.contact-us,
.eloro1 {
  margin: 0;
  position: absolute;
  top: 51.42px;
  left: 32px;
  font-size: 30px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 116px;
  height: 37.78px;
}
.contact-us {
  top: 8.92px;
  left: 0;
  font-size: inherit;
  font-weight: 400;
  width: 126px;
  height: 30.58px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 144px;
  border-radius: 15px;
  background-color: var(--color-white);
  width: 560px;
  height: 56.07px;
}
.email {
  margin: 0;
  position: absolute;
  top: 11.67px;
  left: 173px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  color: #cbc8c8;
  display: inline-block;
  width: 56px;
  height: 45.88px;
}
.image-938-icon {
  position: absolute;
  top: 20.39px;
  left: 663px;
  width: 20px;
  height: 16.39px;
  object-fit: cover;
}
.contact-us-parent {
  position: absolute;
  top: 49.33px;
  left: 223px;
  width: 704px;
  height: 57.55px;
}
.footer,
.table-child {
  position: absolute;
  left: 0;
  background-color: var(--color-seagreen);
}
.footer {
  top: 959px;
  width: 1536px;
  height: 126.99px;
  color: var(--color-white);
}
.table-child {
  top: 0;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  width: 1290px;
  height: 78px;
}
.rectangle-div,
.table-inner,
.table-item {
  position: absolute;
  top: 78px;
  left: 0;
  background-color: var(--color-mintcream);
  width: 1290px;
  height: 78px;
}
.rectangle-div,
.table-inner {
  top: 156px;
  background-color: var(--color-white);
}
.rectangle-div {
  top: 234px;
  background-color: var(--color-mintcream);
}
.table-child1 {
  top: 312px;
  background-color: var(--color-white);
  height: 78px;
}
.table,
.table-child1,
.table-child2 {
  position: absolute;
  left: 0;
  width: 1290px;
}
.table-child2 {
  top: 390px;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  background-color: var(--color-mintcream);
  height: 78px;
}
.table {
  top: 0;
  height: 468px;
}
.address,
.category,
.contact-number,
.name,
.pick-up-time,
.pin-code {
  margin: 0;
  position: absolute;
  top: 32px;
  left: 43px;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  width: 278px;
  height: 22px;
}
.address,
.category,
.name,
.pick-up-time,
.pin-code {
  left: 352px;
  width: 96px;
}
.address,
.category,
.pick-up-time,
.pin-code {
  left: 498px;
  width: 147px;
}
.category,
.pick-up-time,
.pin-code {
  left: 661px;
  width: 146px;
}
.category,
.pick-up-time {
  left: 831px;
  width: 181px;
}
.pick-up-time {
  left: 1045px;
  width: 180px;
}
.table-parent {
  position: absolute;
  top: 266px;
  left: 132px;
  width: 1290px;
  height: 468px;
  color: var(--color-white);
  font-family: var(--font-archivo);
}
.dashboard-child {
  position: absolute;
  top: 189.5px;
  left: 686px;
  width: 166px;
  height: 2px;
  object-fit: cover;
}
.am,
.computer,
.h3,
.h31,
.hebbal,
.sam {
  margin: 0;
  position: absolute;
  top: 361px;
  left: 244px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 129px;
  height: 34px;
}
.am,
.computer,
.h31,
.hebbal,
.sam {
  left: 468px;
}
.am,
.computer,
.h31,
.hebbal {
  left: 639px;
}
.am,
.computer,
.h31 {
  left: 798px;
}
.am,
.computer {
  left: 997px;
}
.am {
  left: 1208px;
}
.dashboard {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1086px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
