.hero-child {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #4f8d5c;
  position: absolute;
  top: 450px;
  left: calc(50% - 130px);
  border-radius: var(--br-mini);
  width: 260px;
  height: 55px;
}
.hero-child:hover {
  background-color: #3faa7d;
}
.eloro,
.give-e-waste-a,
.schedule-pickup {
  margin: 0;
  position: absolute;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.schedule-pickup {
  top: 461px;
  left: calc(50% - 107px);
  font-size: inherit;
  color: var(--color-white);
  width: 214px;
  height: 32px;
}
.eloro,
.give-e-waste-a {
  top: 226px;
  left: calc(50% - 405px);
  font-size: var(--font-size-21xl);
  width: 829px;
}
.eloro {
  top: 0;
  left: calc(50% - 504.5px);
  font-size: var(--font-size-16xl);
  font-weight: 700;
  width: 141px;
  height: 41px;
}
.home {
  left: calc(50% - 38.5px);
  width: 99px;
  height: 34px;
}
.contact-us,
.drop-center,
.home,
.pick-up {
  margin: 0;
  position: absolute;
  top: 17px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.pick-up {
  left: calc(50% + 84.5px);
  width: 100px;
  height: 30px;
}
.contact-us,
.drop-center {
  width: 128px;
}
.drop-center {
  left: calc(50% + 224.5px);
  height: 30px;
}
.contact-us {
  right: 0;
  height: 38px;
}
.nav {
  position: absolute;
  top: 23px;
  left: 264px;
  width: 1009px;
  height: 60px;
}
.one-step-towards {
  margin: 0;
  position: absolute;
  top: 355px;
  left: calc(50% - 202px);
  font-size: var(--font-size-11xl);
  font-weight: 300;
  font-family: inherit;
  display: inline-block;
  width: 385px;
  height: 41px;
}
.hero {
  position: absolute;
  top: 0;
  left: calc(50% - 768px);
  width: 1536px;
  height: 711px;
  background-image: url(./public/hero@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image-927-icon {
  position: absolute;
  top: 265px;
  left: calc(50% - 702px);
  width: 532px;
  height: 252px;
  object-fit: cover;
}
.get-to-know {
  margin: 0;
  position: absolute;
  top: 59px;
  left: calc(50% - 226px);
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 452px;
  height: 103px;
}
.about-us-child {
  position: absolute;
  top: 137px;
  left: calc(50% - 173.01px);
  width: 345.51px;
  height: 4.99px;
}
.together-well-make {
  display: block;
}
.together-well-make-container {
  margin: 0;
  position: absolute;
  bottom: 63px;
  left: calc(50% - 97px);
  font-size: 28px;
  font-family: var(--font-anek-kannada);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 810px;
  height: 520px;
}
.image-929-icon,
.image-931-icon {
  position: absolute;
  top: 104px;
  left: calc(50% + 226px);
  width: 49px;
  height: 44px;
  object-fit: cover;
}
.image-931-icon {
  left: calc(50% - 275px);
}
.about-us,
.our-services {
  position: absolute;
  font-size: var(--font-size-31xl);
}
.about-us {
  top: 711px;
  left: calc(50% - 768px);
  background-color: var(--color-honeydew);
  width: 1536px;
  height: 801px;
  color: #17351e;
  font-family: var(--font-amiri);
}
.our-services {
  margin: 0;
  top: 14px;
  left: calc(50% - 176px);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-white);
  display: inline-block;
  width: 352px;
  height: 61px;
}
.services-child {
  position: absolute;
  top: 82px;
  left: calc(50% - 125px);
  width: 260px;
  height: 3px;
  object-fit: cover;
}
.card1-child {
  border: 0;
  background-color: var(--color-ivory);
  position: absolute;
  top: 0;
  left: calc(50% - 147px);
  border-radius: var(--br-41xl) 0 var(--br-41xl) 0;
  width: 294px;
  height: 401px;
}
.you-choose-a {
  margin: 0;
  position: absolute;
  top: 241px;
  left: calc(50% - 106px);
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 204px;
  height: 61px;
}
.image-939-icon {
  position: absolute;
  top: 32px;
  left: calc(50% - 138px);
  width: 274px;
  height: 181px;
  object-fit: cover;
}
.card1,
.we-pickup-and {
  position: absolute;
  top: 176px;
  left: calc(50% - 586px);
  width: 294px;
  height: 401px;
}
.we-pickup-and {
  margin: 0;
  top: 241px;
  left: calc(50% - 99px);
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 212px;
  height: 61px;
}
.image-940-icon {
  position: absolute;
  top: 31px;
  left: calc(50% - 140px);
  width: 274px;
  height: 181.63px;
  object-fit: cover;
}
.card2 {
  position: absolute;
  top: 176px;
  left: calc(50% - 147px);
  width: 294px;
  height: 401px;
}
.we-responsibly-deliver {
  margin: 0;
}
.we-responsibly-deliver-container {
  margin: 0;
  position: absolute;
  top: 249px;
  left: calc(50% - 132px);
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 274px;
  height: 96px;
}
.image-941-icon {
  position: absolute;
  top: 32px;
  left: calc(50% - 137px);
  width: 274px;
  height: 192px;
  object-fit: cover;
}
.card3 {
  position: absolute;
  top: 176px;
  left: calc(50% + 298px);
  width: 294px;
  height: 401px;
}
.services,
.skills-child {
  position: absolute;
  left: 0;
  width: 1536px;
}
.services {
  top: 1512px;
  background: linear-gradient(102.8deg, #3c7a49, #7ec38c);
  height: 723px;
  font-size: var(--font-size-21xl);
  color: var(--color-gray);
  font-family: var(--font-amaranth);
}
.skills-child {
  top: 0;
  background-color: var(--color-honeydew);
  height: 801px;
}
.our-skills-and {
  margin: 0;
  position: absolute;
  top: 71px;
  left: 47px;
  font-size: inherit;
  font-weight: 400;
  font-family: var(--font-amaranth);
  text-align: center;
  display: inline-block;
  width: 690px;
  height: 71px;
}
.skills-item {
  position: absolute;
  top: 97.34px;
  left: 721px;
  width: 40px;
  height: 17.32px;
}
.we-are-committed {
  margin: 0;
  position: absolute;
  top: 180px;
  left: 105px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 686px;
  height: 177px;
}
.skills-inner {
  position: absolute;
  top: 155.04px;
  left: 791.04px;
  width: 637.9px;
  height: 511.54px;
}
.awareness-programs,
.e-waste-collection-centre,
.e-waste-pickup-and {
  margin: 0;
  position: absolute;
  top: 0;
  left: 57px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 596px;
  height: 67px;
}
.awareness-programs,
.e-waste-collection-centre {
  top: 81px;
  width: 549px;
}
.awareness-programs {
  top: 174px;
}
.image-942-icon,
.image-943-icon,
.image-944-icon {
  position: absolute;
  top: 13px;
  left: 0;
  width: 30px;
  height: 26.66px;
  object-fit: cover;
}
.image-943-icon,
.image-944-icon {
  top: 94px;
}
.image-944-icon {
  top: 187px;
}
.skills1 {
  position: absolute;
  top: 333px;
  left: 105px;
  width: 653px;
  height: 241px;
  font-size: var(--font-size-21xl);
}
.image-945-icon {
  position: absolute;
  top: 187px;
  left: 821px;
  width: 574px;
  height: 454px;
  object-fit: cover;
}
.rectangle-div {
  position: absolute;
  top: 731px;
  left: 189px;
  background-color: var(--color-seagreen-100);
  width: 1158px;
  height: 150px;
}
.contact-us1,
.discarding-e- {
  margin: 0;
  position: absolute;
  top: 780px;
  left: 233px;
  font-size: var(--font-size-16xl);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-white);
  display: inline-block;
  width: 445px;
  height: 58px;
}
.contact-us1 {
  top: 777px;
  left: 1032px;
  width: 208px;
}
.image-946-icon,
.line-icon,
.skills-child1 {
  position: absolute;
  top: 780px;
  left: 786px;
  width: 50px;
  height: 51.11px;
  object-fit: cover;
}
.line-icon,
.skills-child1 {
  top: 805px;
  left: 739px;
  width: 47px;
  height: 1px;
}
.skills-child1 {
  left: 836px;
}
.skills {
  position: absolute;
  top: 2235px;
  left: 0;
  width: 1536px;
  height: 881px;
  text-align: left;
  font-size: var(--font-size-31xl);
  font-family: var(--font-barlow);
}
.image-933-icon {
  position: absolute;
  top: 10px;
  left: 0;
  width: 265px;
  height: 184px;
  object-fit: cover;
}
.eloro-rewards {
  margin: 0;
  position: absolute;
  top: 76px;
  left: 344px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 751px;
  height: 72px;
}
.image-932-icon,
.rewards {
  position: absolute;
  height: 204px;
}
.image-932-icon {
  top: 0;
  left: 1190px;
  width: 218px;
  object-fit: cover;
}
.rewards {
  top: 3157px;
  left: 64px;
  width: 1408px;
  font-size: 80px;
  color: #253d2a;
  font-family: var(--font-special-elite);
}
.contact-us2,
.one-step-towards1 {
  position: absolute;
  display: inline-block;
}
.one-step-towards1 {
  margin: 0;
  top: 73.76px;
  left: 1136px;
  font-size: inherit;
  font-style: italic;
  font-weight: 500;
  font-family: inherit;
  width: 286px;
  height: 53.52px;
}
.contact-us2 {
  top: 58.25px;
  left: 223px;
  width: 126px;
  height: 30.58px;
}
.image-934-icon {
  position: absolute;
  top: 76.61px;
  left: 1090px;
  width: 23px;
  height: 25.19px;
  object-fit: cover;
}
.image-935-icon,
.image-936-icon,
.image-937-icon {
  position: absolute;
  top: 77px;
  left: 1013px;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.image-935-icon,
.image-937-icon {
  top: 78.71px;
  left: 1053px;
  height: 20.99px;
}
.image-935-icon {
  left: 981px;
  width: 20px;
}
.eloro1 {
  margin: 0;
  position: absolute;
  top: 51.42px;
  left: 32px;
  font-size: var(--font-size-11xl);
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 116px;
  height: 37.78px;
}
.email-input-child {
  border: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  width: 560px;
  height: 56.07px;
}
.email {
  margin: 0;
  position: absolute;
  top: 13.67px;
  left: 34px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 56px;
  height: 26px;
}
.image-938-icon {
  position: absolute;
  top: 20.39px;
  left: 519px;
  width: 20px;
  height: 16.39px;
  object-fit: cover;
}
.email-input {
  position: absolute;
  top: 49.33px;
  left: 367px;
  width: 560px;
  height: 56.07px;
  color: #cbc8c8;
}
.footer {
  position: absolute;
  top: 3438px;
  left: 0;
  background-color: var(--color-seagreen-100);
  width: 1536px;
  height: 126.99px;
  color: var(--color-white);
}
.home-page {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3565px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
